$color: green;

body {
  background: $color;
  h1 {
    font-family: sans-serif;
  }
}

.example {
  display: grid;
  transition: all 0.5s;
  user-select: none;
  background: linear-gradient(to bottom, white, black);
}
