extends ./templates/mainTemplate.pug

//- doctype
//- html.no-js
//-   head
//-     meta(charset='utf-8')
//-     meta(http-equiv='X-UA-Compatible', content='IE=edge')
//-     title
//-     meta(name='description', content='')
//-     meta(name='viewport', content='width=device-width, initial-scale=1')
//-     link(rel='stylesheet', href='css/normalize.css')
//-     link(rel='stylesheet', href='css/main.css')
//-     //-script(src='js/vendor/modernizr-2.7.1.min.js')
block topLinks
  link(rel='stylesheet', href='css/styles.css')
block content
  body
    include ./templates/browserhappy  

    //- Add your site or application content here
    p Hello world! This is HTML5 Boilerplate.

    block bottomScripts
     script.
      console.log('hello')