doctype
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    block topLinks
    //- link(rel='stylesheet', href='css/styles.css')
    block topScripts
    //-script(src='js/vendor/modernizr-2.7.1.min.js')
  block content
    body
      block browserhappy
      block bottomScripts

        //- script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
        //- script window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.min.js"><\/script>')
        //- script(src='js/plugins.js')
        //-script(src='js/script.js')

        //- Google Analytics: change UA-XXXXX-X to be your site's ID.
        //-
          // script
            // (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            // function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            // e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            // e.src='//www.google-analytics.com/analytics.js';
            // r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            // ga('create','UA-XXXXX-X');ga('send','pageview');
